#root {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}
/* In src/fonts.css or src/App.css */
@font-face {
  font-family: 'one';
  src: url('./assets/fonts/one.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'two';
  src: url('./assets/fonts/two.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'three';
  src: url('./assets/fonts/three.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'four';
  src: url('./assets/fonts/four.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'five';
  src: url('./assets/fonts/five.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'six';
  src: url('./assets/fonts/six.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seven';
  src: url('./assets/fonts/seven.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eight';
  src: url('./assets/fonts/eight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-one {
  font-family: 'one', sans-serif;
}

.font-two {
  font-family: 'two', sans-serif;
}

.font-three {
  font-family: 'three', sans-serif;
}

.font-four {
  font-family: 'four', sans-serif;
}

.font-five {
  font-family: 'five', sans-serif;
}

.font-six {
  font-family: 'six', sans-serif;
}

.font-seven {
  font-family: 'seven', sans-serif;
}

.font-eight {
  font-family: 'eight', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.input-caret::placeholder {
  color: #bdbdbd;
  opacity: 1;
  
}